/* Spotify green */
/* color: #1DB954; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	margin-block: 0;
	padding: 0;
}

body {
	background: url(img/turntable.jpg) no-repeat;
	background-size: cover;
	color: rgb(236, 232, 232);
	height: 100vh;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

body:after {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	z-index: -1;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.heading {
	font-size: 5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 2rem;
	color: #1db954;
}

.sub-heading {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	letter-spacing: 2px;
}

.green {
	color: #1db954;
}

.wrapper {
	text-align: center;
	display: flex;
	/* border: 2px solid blue; */
	justify-content: space-between;
	margin: 3rem;
}

.text-container {
	align-self: center;
	align-items: flex-start;
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	width: 45%;
	text-align: left;
	margin-top: -85px;
}

.text-inner {
	/* max-width: 50%; */
}

.buttons-inner {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

input[type='radio'] {
	height: 50px;
	width: 50px;
	opacity: 0;
	/* display: none; */
	/* cursor: pointer; */
}

input[type='radio']+label {
	background: url('./img/radio_btn_unchecked.png') left top no-repeat;
	display: block;
	height: 25px;
	min-height: 25px;
	padding-left: 35px;
	display: inline-block;
	margin-right: 2.5rem;
	cursor: pointer;
}

input[type='radio']:checked+label {
	background: url('./img/radio_btn_checked.png') left top no-repeat;
}

input[type='text'] {
	height: 45px;
	padding-left: 1rem;
	outline: none;
	font-size: 1.5rem;
	border-radius: 4px;
	margin-bottom: 1.4rem;
}

.artist-or-album {
	margin-bottom: 1.4rem;
	outline: none;
	font-size: 1.2rem;
}

.reset {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

.btn {
	background: transparent;
	border: 2px solid #1db954;
	padding: 1.4rem 10rem;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.4s ease 0s;
	font-size: 1.6rem;
	font-weight: 800;
	letter-spacing: 2px;
}

button:hover {
	/* transform: scale(1.1); */
	background: #1db954;
	transition: all 0.2s ease 0s;
}

.results-container {
	margin-top: 3rem;
	font-size: 1.5rem;
}

.scroll-container {
	overflow-y: auto;
	height: 90vh;
}

.name {
	display: block;
	overflow: hidden;
	margin: 30px auto;
	position: relative;
	background-color: rgb(206, 202, 202);
	width: 600px;
	height: 200px;
	border-radius: 4px;
	transition: transfrom, background-color 0.4s ease-in-out;
}

.name:hover {
	background-color: #1db954;
	cursor: pointer;
}

.name p {
	position: absolute;
	top: 50%;
	left: 34%;
	font-size: 2.5rem;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	color: black;
}

.name p:hover {
	color: black;
}

.name a {
	text-decoration: none;
	color: black;
}

.name span {
	float: left;
	display: block;
	width: 200px;
	height: 200px;
}

span img {
	width: 100%;
	position: relative;
	z-index: 10;
	height: 100%;
	object-fit: cover;
}

#loadmore-button {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 30px;
}

.fallback-img {
	background-image: url('./img/spotify2.png');
}

@media only screen and (max-width: 1150px) {
	body {
		overflow-y: scroll;
		overflow-x: hidden;
		background: rgb(49, 43, 43);
		width: 100vw;
	}

	.wrapper {
		flex-direction: column;
	}

	.text-container {
		margin-top: 2rem;
		width: 80%;
		text-align: center;
	}

	.buttons-inner {
		align-self: center;
	}

	.scroll-container {
		overflow: unset;
		height: 99vh;
	}
}

@media only screen and (max-width: 530px) {
	.text-container {
		padding: 0.5rem 1.3rem;
		width: 100%;
	}

	.sub-heading {
		font-size: 1.2rem;
	}

	.wrapper {
		margin: 0;
	}

	.buttons-inner {
		width: 100%;
	}

	.btn {
		padding: .5rem;
	}
}